<nav>
  <ul class="pagination">
    <li class="page-item"
      [ngClass]="{ disabled: currentPage === 0 }"
    >
      <a class="page-link" (click)="currentPage = currentPage - 1">Prev</a>
    </li>

    <!-- this creates an object with the name of the class as the key and the value as a boolean 
    if this evaluates to true, active class will be applied to li -->
    <!-- [ngClass]="{ active: i === currentPage}" -->
    <!-- [ngClass] can also take a plain string or a method like getClass() -->
    <!-- use ng-container instead of adding a div (which will cause styling issues...) -->
    <ng-container *ngFor="let image of images; let i = index;">
      <li 
        class="page-item" 
        [ngClass]="{ active: i === currentPage}"
        *ngIf="checkWindowIndex(i)"
      >
        <a (click)="currentPage = i" class="page-link">{{i + 1}}</a>
      </li>
    </ng-container>  

    <li class="page-item" 
      [ngClass]="{ disabled: currentPage === (images.length-1) }"
    >
      <a class="page-link" (click)="currentPage = currentPage + 1"
      >Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4>{{ images[currentPage].title }}</h4>
  <!-- notice we can do this without interpolation -->
  <!-- <div><img src="{{ images[currentPage].url }}"></div> -->
  <div><img [src]="images[currentPage].url"></div>
</div>

<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">
    Current page is 0
  </div>
  <div *ngSwitchCase="1">
    Current page is 1
  </div>
  <div *ngSwitchDefault>
    Current page is set to default
  </div>
</div>